<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Francois+One" rel="stylesheet">
    <title>Bull and Bear</title>
  </head>
  <body>

  <header>
        <nav class="topNav">
          <nav class="addressNav">
            <a href="/">BULL AND BEAR</a>
          </nav>
          <a href="/menu">MENU</a>
          <a href="/events">EVENTS</a>
        </nav>
  </header>
  <div class="container">


  <br><br>
  <section class="contentSectionOne">
    <img src="assets/Enlight242.jpg" alt="placeholder for updates" class="half">
    <!-- <section class="opacityOverlay">
      Opacit\=ty Box for Overlay
    </section> -->
  </section>
  <section class="contentMenu">
    <img class="halfContent" src="assets/Enlight250.JPG" alt="">
    <img class="halfContent" src="assets/Enlight206.JPG" alt="">
    <img class="halfContent" src="assets/Enlight296.JPG" alt="">
    <img class="halfContent" src="assets/Enlight180.JPG" alt="">

</section>

<!-- <section class="foodPics">
  <img class="imgOne" src="./assets/Enlight180.JPG" alt="">
  <img class="imgOne" src="./assets/Enlight195.JPG" alt="">

  <img class="imgOne" src="./assets/Enlight202.JPG" alt="imgThree">
  <img src="" alt="">

</section> -->
<!-- <section class="socialSection">
    <nav>
      <a href="#" class="facebookLogo"><img  class="fbIcon" src="./assets/fbiconbullandbear.JPG" alt="Bull and Bear Facebook Page"></a>
      <a href="#"><img class="fbIcon" src="./assets/bullandbearinstagramlogo.JPG" alt="bull and bear instagram site retaurant"></a>
    </nav>
</section> -->
</div>
<footer>
  <!-- <a href="facebook.com/"><img class="fbIcon" src="assets/fbiconbullandbear.JPG" alt="follow us on facebook!"></a> -->
  <nav class="footerNav">
    <a href="/">Bull and Bear Restaurant</a>
    <a href="tel:+19198473617">919.847.3617</a><br>
    <a href="#">5442 Six Forks Rd, Raleigh, NC 27609</a>
  </nav>

</footer>

  </body>
</html>
